<header>
  <nav>
    <div>
      <img id="Logo" src="/images/trail-tales-logo.png" alt="Trail Tales Logo">
      
      <ul>
        <li><a href="#" data-theme-switcher="auto">Auto</a></li>
        <li><a href="#" data-theme-switcher="light">Light</a></li>
        <li><a href="#" data-theme-switcher="dark">Dark</a></li>
      </ul>
    
    
      <li><a href="/">Home</a></li>
      <% if (user) { %>
      <li> <a href="/rides">View My Rides</a> </li>
      <li> <a href="/users">Community Page</a> </li>
      <li><a href="/auth/sign-out">Sign Out</a></li>
      <% } else { %>
      <li><a href="/auth/sign-in">Sign In</a></li>
      <li><a href="/auth/sign-up">Sign Up</a></li>
      <% } %>
    </ul>
  </nav>
</header>