<%- include('./partials/_html-head.ejs', {title: 'Home'}) %>
<%- include('./partials/_nav-bar.ejs') %>


  <main>
    <% if (user) { %>
    <h1 class="h1">Welcome Trail Tales, <%= user.username %>!</h1>
    <p>
      We are glad you are a member of Trail Tales. Click " View My Rides" to see all of your rides you have logged and to create new ones. 
      The Community page is where you will find other member's rides. Feel free spread positivity by giving them a Kudos on their ride!
      Be on the lookout for more features comming out soon! Happy Riding and stay safe!
    </p>
    
    <p>
      <a href="/auth/sign-out">Sign-Out</a>
    </p>


    
    <% } else { %>
    <h1 class="h1">Welcome to Trail Tales</h1>
    <p>New here? Sign up today to start tracking and documenting your rides!</p>
    <a role=button href="/auth/sign-up">Sign up</a>


    <p>Returning?</p>

    <a  role=button href="/auth/sign-in">sign in</a>
    <% } %>
  </main>
</body>
</html>
