<%- include('./partials/_html-head.ejs', {title: 'Home'}) %>
<%- include('./partials/_nav-bar.ejs') %>


  <main>
    <% if (user) { %>
    <h1 class="h1">Welcome Trail Tales, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign-Out</a>
    </p>
    <% } else { %>
    <h1 class="h1">Welcome to Trail Tales</h1>
    <p>New here? Sign up today to start tracking and documenting your rides!</p>
    <a role=button href="/auth/sign-up">Sign up</a>


    <p>Returning?</p>

    <a  role=button href="/auth/sign-in">sign in</a>
    <% } %>
  </main>
</body>
</html>
