<%- include('../partials/_html-head.ejs', {title: 'All Rides'}) %>
<%- include('../partials/_nav-bar.ejs') %>
  
<main>
  <h1> <%= user.username %>'s Rides </h1>

    <p>
      <a href="/rides/new">Add a New Ride</a>

    </p>



</main>
</body>
</html>